@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.login-title {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.input-black {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #f5f5f5;
}


.recharge-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.qrcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* login.css */

.login-mode-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.login-mode-toggle label {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.login-mode-toggle input[type="radio"] {
  margin-right: 8px;
}

/* 调整文字溢出时的样式 */
.long-text {
  display: inline-block;
  max-width: 120px; /* 根据需要调整最大宽度 */
  white-space: nowrap;
}


.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  display: inline-block; /* 修改为 inline-block */
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option.selected {
  border: 2px solid #fafafa;
}

.option:hover {
  background-color: #aaa;
}

.option.selected {
  background-color: #333;
  color: #fff;
}

.recharge-button {
  display: inline-block; /* 修改为 inline-block */
  background-color: #777777;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recharge-button:hover {
  background-color: #999;
}

.qrcode-tip-container {
  display: flex; /* 将二维码和提示放在同一行上 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: center; /* 二维码和提示水平对齐居两侧 */
  margin-bottom: 20px; /* 设置底部间距 */
}

.qrcode-container {
  margin-right: 20px; /* 设置二维码右边的间距 */
}

.oq-container {
  display: flex;
  flex-direction: column;
}

.recharge-tip {
  text-align: center;
  color: red;
  word-break: break-word;
  overflow: hidden; /* 添加 overflow 属性 */
  text-overflow: ellipsis; /* 添加 text-overflow 属性 */
  display: -webkit-box; /* 添加 -webkit-box 属性 */
  -webkit-box-orient: vertical; /* 添加 -webkit-box-orient 属性 */
  -webkit-line-clamp: 2; /* 添加 -webkit-line-clamp 属性，设置最大显示行数 */
}

